.idea
/laravel/node_modules
/laravel/public/hot
/laravel/public/storage
/laravel/vendor
.DS_Store
/.env
/laravel/.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
/data
/.vscode
/.docker
/laravel/public/auctions-dist/
/laravel/public/css/
/laravel/public/js/
/laravel/public/mix-manifest.json
/coverage/
.phpstorm.meta.php
_ide_helper.php
/laravel/.composer/
/laravel/cypress/videos
/laravel/cypress/screenshots
/laravel/.config/
/laravel/laravel-echo-server*.lock
/laravel/.npm/
/laravel/storage/sitemap.xml
/laravel/storage/medialibrary/temp/
/laravel/.cache/
.bash_history
/docker/data/db/mysql/*